// to be set by JS
.q-matrix .desktop ul.scale li {
    width: 33.333333333%;
}

.q-matrix.profile .desktop .answer-label {
    width: 32.666666667%;
}
.q-matrix.profile .desktop .spacer {
    width: 1%;
}



// BaseStyles partial for Matrix questions

.q-matrix {

    .mobile .desktop,
    .desktop .mobile {
        display: none; 
    }

    ul.scale {
        padding: 0;
        margin: 0;
        list-style: none;
    }

    .desktop {
        display: table;
        width: 100%;
        // keep the cells the same width
        table-layout: fixed;

        .q-row {
            display: table-row;
            width: 100%;
            // box-sizing: border-box;
        }

        .statement-container {
            display: table-cell;
            vertical-align: middle;
            width: 20%;
            padding-bottom: $answer-padding * 1.5;
        }

        .scale-container {
            display: table-cell;
            vertical-align: middle;
        }
    
        ul.scale {
            display: table;
            width: 100%;
            text-align: center;
            table-layout: fixed;

            li {
                display: table-cell;
            }
        }


    }

    .mobile {

        ul.scale {
            margin: $answer-padding;
            margin-top: 0;
        }
        .statement-container {
            cursor: pointer;
            padding: $answer-padding;
            border-top: $light-border;
        }
        .scale-container {
            height: 0;
            overflow: hidden; 
        }
        .answer.mobile {
            display: inline-block;
            width: 80%;
        }

    @if $radio-buttons == F {
        .answer-label {

            margin-bottom: $answer-margin;
        }

        // Hide the 'styled radio button'
        .q-radio,
        .q-checkbox {
            display: none;
        }

    }



    }

    &.profile {
        .desktop .answer-label {
            display: table-cell;
            text-align: center;
            vertical-align: middle;
        }
        .desktop .spacer {
            display: table-cell;
        }
        .desktop .q-row {
            border-spacing: 0px $answer-margin;
        }
    }


}

// still need to add dropdown arrow and answer next to statement. vv



// for the statement container dropdown and stuff...

// .q-matrix .mobile .statement-container {
//   display: table;
//   width: 100%;
//   box-sizing: border-box; }
//   .q-matrix .mobile .statement-container .statement {
//     display: table-cell;
//     width: 100%;
//     vertical-align: middle; }
//   .q-matrix .mobile .statement-container .statement-dropdown-container {
//     vertical-align: middle; }
//     .q-matrix .mobile .statement-container .statement-dropdown-container .dropdown-arrow {
//       background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACYAAAAZCAYAAABdEVzWAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAJxJREFUeNpiYBgFo2AUjIIRAtZv2DAfiBMo0N8PxAbEqmck0lCQg+ZDuYmBAQELSPUUkAKZ8QGIFYH6PxDSw0SMwVCHwBxDUsghOQoEColxFNEhhsMSgiFHqnqyHUaKZZQ4iiyHEWMppY4i22H4LKeGoyhyGDZHALE9NRxFscOwOI6BGo6iisOoGX20qhn6KakZRsEoGAWDHQAEGAD4nFyxnT6p9QAAAABJRU5ErkJggg==) no-repeat center;
//       min-width: 38px;
//       vertical-align: middle;
//       min-height: 1em; }
//       .q-matrix .mobile .statement-container .statement-dropdown-container .dropdown-arrow span {
//         display: block;
//         text-align: center; }



// .mobile .statement-container .answer-indicator .answered-indicator {
//   display: table-cell; }

// .mobile .statement-container .answered-indicator span {
//   font-size: 80%;
//   // padding: 2px 8px;
//   // border: 1px solid #aaa;
//   // border-radius: 40px;
//   // background: #ccc;
//   position: relative;
//   width: 80px\9;
//   text-align: center;
//   max-width: 80px;
//   overflow: hidden;
//   text-overflow: ellipsis;
//   white-space: nowrap;
//   display: block; }



